body {
    font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-size: 16px;
    line-height: 1.66;
    font-weight: 300;
    background-color: #fefefe;
    color: #262626;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;

}

ul {
    margin: 0;
}

.nav-bar li {
    display: inline;
    margin: 0px;
    list-style-type: none;
    padding: 0;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding-right: 15px;
}

main {
    width: 70%;
    margin: 0px auto;
}

.main-header h1 {
    position: relative;
    right: 80px;
    font-weight: 700;
    font-size: 2.66667rem;
    line-height: 1.15;
}

.main-header > a{
    position: relative;
    right: 80px;

}


