body {
    margin-top: 50px;
    font-family: CNN,Helvetica Neue,Helvetica,Arial,Utkal,sans-serif;
    font-size: 16px;
    line-height: 1.66;
    font-weight: 300;
    background-color: #fefefe;
    color: #262626;
}

p {
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 18px;
    color: #262626;
    line-height: 1.66667;
    text-align: justify;
    width: 65%;
    
}

span {
    font-weight: bold;
}

a {
    text-decoration: none;
}

p a {
    color: #006598;
}

p a:hover {
    color: #980000;
}

p.italic {
    font-style: italic;
}

h2 {
    margin: 30px 0px;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 300;
}
figure {
    margin: 0px;
}

figcaption {
    width: 65%;
    color: #595959;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    overflow: hidden;
}

ul {
    margin: 0px 40px;
    padding: 0;
}

.nav-bar li {
    display: inline;
    margin: 0px;
    list-style-type: none;
}

.nav-bar a {
    text-decoration: none;
    color: #fefefe;
    font-size: 14px;
    padding: 0 10px;
    vertical-align: middle;
}


.biggersize {
    font-weight: 800;
    font-size: 18px;

}

main {
    margin-left: 130px;
} 

.main-header h1 {
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 2.66667rem;
    line-height: 1.15;
}

.main-header > a {
    right: 80px;
}

.profile-image {
    float: left;
    border-radius: 50%;
    width: 60px;
    padding-right: 10px;
    margin: 0px;
}

.katie-hunt {
    margin-bottom: 0px;
    color: #737373;
    font-weight: 700;
    font-size: 16px;
}

.date-time {
    margin-top: 0px;
    color: #737373;
    font-weight: 400;
}

footer {
    padding: 50px;
    background-color: rgb(12, 12, 12);
}

footer a{
    color: #fefefe;
}

.form {
    width: 100%;
}

.input {
    width: 100%;
}

.f-container {
    display: inline;
    float: left;
    width: 33%;
    margin-top: 30px;
}

.footer-list {
    list-style-type: none;
    color: rgb(230, 230, 230);
    font-size: 14px;
    font-weight: 400;
}

.first-item {
    font-weight: 700;
    font-size: 18px;
}

.logo-container {
    text-align: center;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 18px;
    font-weight: 700;
}

